.navbar-brand {
  font-family: viga;
  font-size: 28px;
}
.jumbotron {
  padding-top: 9rem;
}

h2 {
  font-size: 20px;
  font-family: oswald;
}

/* versi desk */
@media (min-width: 992px) {
  .jumbotron {
    padding-top: 14rem;
  }
}
